

.login-form {
  background-color: var(--bg1);
  padding: 1rem 2.5rem 1rem 2rem;

  h4 {
    text-transform: uppercase;
    font-weight: 500;
  }
  
  input[type="password"],
  input[type="email"] {
    margin: 0.25rem 0;
    height: 1.5rem;
    width: 100%;
  }
  
  button {
    --lighter-primary: rgb(from var(--primary1) r g b / 0.75 );
  
    background-color: var(--primary1);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 0;
    width: 103%;
  
    color: white;
    filter: drop-shadow(2px 2px 2px var(--lighter-primary));
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
  }

}
